@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

:root {
    --gradient: linear-gradient(45deg,
            #81002d, #860029, #321450, #29132e);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-size: 1500%;
    background-color: #29132e;
    background-image: var(--gradient);
    animation: bg-animation 10s infinite alternate;
}


footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a {
    color: #bebebe;
    font-size: 20px;
    text-decoration: none;
}