:root {
    --gradient: linear-gradient(45deg,
            #de004e, #860029, #321450, #29132e, #de004e);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 10s infinite;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

footer a {
    color: #bebebe;
    font-size: 20px;
    text-decoration: none;
}