body {
    box-sizing: border-box;
    background-color: #0b1414;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.navbar {
    background-color: #082c6c;
    color: #bebebe;
    display: flex;
    align-items: center;
    height: 50px;
}

.navbar h1 {
    margin-left: 2%;
}

.shortcuts {
    display: flex;
    align-items: center;
    margin-left: 20%;
}

.shortcuts a {
    color: #bebebe;
    text-decoration: none;
    padding: 1cm;
    font-size: 25px;
}

.flex-container {
    display: flex;
    align-items: center;
    border: 1px solid white;
    color: white;
    padding: 20px;
    max-width: 90%;
}


.shortcuts a:hover {
    text-decoration: 3.1px underline solid #711c91;
}