/*===========/=/==========*/
/* navigation bar stuff */

.navbar {
    color: #bebebe;
    display: flex;
    align-items: center;
    height: 50px;
}

.navbar h2 {
    padding-left: 12%;
}

.shortcuts {
    display: flex;
    align-items: center;
}

.shortcuts a {
    color: #bebebe;
    text-decoration: none;
    padding: 1cm;
    font-size: 25px;
}


/* general stuff */

.flex-container {
    display: flex;
    height: auto;
    flex-direction: column;
    color: white;
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.flex-container p {
    color: #bebebe;
    text-decoration: none;
    max-width: 75%;
}

.border-bottom {
    border-bottom: 0.5px solid white;
}

.space-between {
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


.padding-left {
    padding-left: 12%;
}

.gap {
    gap: 20%;
}

.end-of-section {
    display: flex;
    border-bottom: 0.5px solid white;
    width: 80%;
    height: 0;
    margin: auto;
}

/* sections */

.who-i-am {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}


/* footer stuff */

.footer-container {
    display: flex;
    gap: 1cm;
    border-top: 1.5px solid #bebebe;
    height: 50px;
    align-items: center;
    padding-left: 12%;
}