/*======/==/======*/
/*=== nav bar ===*/

.navbar {
    display: flex;
    color: white;
    align-items: center;
    gap: 6%;
    border-bottom: 0.5px solid white;
}


.navbar h2 {
    padding-left: 12%;
    padding-right: 12%;
}


.navbar a {
    color: white;
    text-decoration: none;
    font-size: 140%;

}

/*=== general stuff ===*/

.flex-container {
    display: flex;
    height: auto;
    flex-direction: column;
    color: white;
    padding: 5%;
}

.flex-container p {
    color: #bebebe;
    text-decoration: none;
    max-width: 75%;
}

.padding-left {
    padding-left: 12%;
}

.end-of-section {
    display: flex;
    border-bottom: 0.5px solid white;
    width: 80%;
    height: 0;
    margin: auto;
}

/*=== projects ===*/

.projects h2 {
    color: white;
    text-decoration: none;
}

.projects h3 a {
    color: white;
    text-decoration: none;
}

.projects p a {
    color: white;
}

.projects ul {
    padding-left: 7%;
}

.projects li {
    padding-bottom: 2ch;
}

/*=== contacts ===*/

.contacts ul {
    list-style: none;
    padding-left: 5%;
}

.contacts li a {
    color: white;
}

.contacts li {
    padding-bottom: 2ch;
}

/*=== who is Demian ===*/

.who-is-demian {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.who-i-am {
    gap: 10%;
    flex-direction: row;
    padding-left: 12%;
}

/*=== social icons ===*/

.social-icon ion-icon {
    font-size: 14px;
}

/*=== footer stuff ===*/

.footer-container {
    display: flex;
    gap: 1cm;
    border-top: 1.5px solid #bebebe;
    height: 50px;
    align-items: center;
    padding-left: 12%;
}

.footer-container a {
    font-size: 130%;
}

@media (max-width: 669px) {
    .navbar {
        color: white;
        display: flex;
        gap: 2ch;
        flex-direction: column;
        max-height: 10%;
    }

    .navbar a,
    h2 {
        color: white;
        text-decoration: none;
        font-size: 120%;

    }

    .who-i-am {
        display: flex;
        flex-direction: column-reverse;

        justify-content: space-around;
    }

    #demian-photo {
        max-width: 10%;
        border-radius: 50%;
    }
}